/*
The MIT License

Copyright 2015 Erich.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Jan 20, 2015, 7:29:26 AM
    Author     : Erich
*/

html, body, root {
    margin: 0;
    padding: 0;
    border: none 0px;
    box-sizing: border-box;
}

body {
    position: absolute;
    font-family: sans-serif;
    border: none 0px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    background-color: white;
    background-image: url(compass.png);
    background-repeat: no-repeat;
    background-position: 50% -60%;
    background-size: 200px 240px;
}

main, header, footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    border: solid black 10px;
    transition: 500ms height,top,padding;
    -webkit-transition: 500ms height,top,padding;
    -moz-transition: 500ms height,top,padding;
    -o-transition: 500ms height,top,padding;
    -ms-transition: 500ms height,top,padding;
}
header, footer {
    padding: 0 80px 0 100px;
    background-color: black;
    color: white;
}
main {
    top: 0px;
    border-top: none 0px;
    border-bottom: none 0px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    padding: 100px 80px 28px 100px;
    height: 100%;
}
header {
    top: 0px;
    height: 100px;
}
footer {
    position: absolute;
    height: 28px;
    bottom: 0px;
    border-top: none 0px;
}

menu {
    font-size: 12pt;
    font-weight: normal;
}
menu>li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    box-sizing: border-box;
}
menu>li>* { cursor: pointer; }
menu.horizontal-menu {
    text-align: center;
    box-sizing: border-box;
    margin-before: 0px;
    margin-after: 0px;
    padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
}
menu.horizontal-menu>li {
}
menu>li.social-icon-16x16y,
menu>li.social-icon-24x24y,
menu>li.social-icon-32x32y,
menu>li.social-icon-48x48y,
menu>li.social-icon-64x64y {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}
menu>li.social-icon-16x16y:action, menu>li.social-icon-16x16y.active,
menu>li.social-icon-24x24y:action, menu>li.social-icon-24x24y.active,
menu>li.social-icon-32x32y:action, menu>li.social-icon-32x32y.active,
menu>li.social-icon-48x48y:action, menu>li.social-icon-48x48y.active,
menu>li.social-icon-64x64y:action, menu>li.social-icon-64x64y.active {
    background-position: 0px 0px;
}
menu>li.social-icon-16x16y {
    width: 16px;
    height: 16px;
    background-image: url(social-iconsheet-18c8r-16x16y.png);
    background-position: 0px -48px;
}
menu>li.social-icon-16x16y:hover {
    background-position-y: -32px;
}
menu>li.social-icon-24x24y {
    width: 24px;
    height: 24px;
    background-image: url(social-iconsheet-18c8r-24x24y.png);
    background-position: 0px -72px;
}
menu>li.social-icon-24x24y:hover {
    background-position-y: -48px;
}
menu>li.social-icon-24x24y.social-icon-facebook {
    background-position-x: -48px;
}
menu>li.social-icon-24x24y.social-icon-googleplus {
    background-position-x: -96px;
}
menu>li.social-icon-24x24y.social-icon-wordpress {
    background-position-x: -408px;
}
menu>li.social-icon-32x32y {
    width: 32px;
    height: 32px;
    background-image: url(social-iconsheet-18c8r-32x32y.png);
    background-position: 0px -96px;
}
menu>li.social-icon-32x32y:hover {
    background-position-y: -64px;
}
menu>li.social-icon-48x48y {
    width: 48px;
    height: 48px;
    background-image: url(social-iconsheet-18c8r-48x48y.png);
    background-position: 0px -144px;
}
menu>li.social-icon-48x48y:hover {
    background-position-y: -96px;
}
menu>li.social-icon-64x64y {
    width: 64px;
    height: 64px;
    background-image: url(social-iconsheet-18c8r-64x64y.png);
    background-position: 0px -192px;
}
menu>li.social-icon-64x64y:hover {
    background-position-y: -128px;
}

#header-menu {
    font-size: 15pt;
    height: 50px;
    line-height: 50px;
}
#header-expanded-container {
    position: relative;
    height: 0px;
    overflow: hidden;
    background-image: url(header-logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    transition: 500ms height;
    -webkit-transition: 500ms height;
    -moz-transition: 500ms height;
    -o-transition: 500ms height;
    -ms-transition: 500ms height;
}

menu#header-expanded-menu {
    position: absolute;
    right: 0px;
}
menu#header-expanded-menu>li {
    margin: 0 10px;
}
menu#header-expanded-menu>li:last-child {
    margin: 0 0 0 10px;
}

body.expand-header>header {
    height: 172px;
}
body.expand-header>main {
    padding-top: 172px;
}
body.expand-header #header-expanded-container {
    height: 72px;
}

#header-subscribe-container {
    position: absolute;
    display: inline-block;
    right: 80px;
    bottom: 0px;
}
#header-subscribe-container>* {
    margin-left: 5px;
}
#header-subscribe-container>button {
    border: none 0px;
    background-color: inherit;
    color: white;
    cursor: pointer;

}
#header-social-menu {
    display: inline-block;
}