/*
The MIT License

Copyright 2015 Erich.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Jan 20, 2015, 7:29:26 AM
    Author     : Erich
*/

html, body, root {
    margin: 0;
    padding: 0;
    border: none 0px;
    box-sizing: border-box;
    min-width: 750px;
}

body {
    position: absolute;
    font-family: sans-serif;
    border: none 0px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 750px;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: 500ms zoom;
    -webkit-transition: 500ms zoom;
    -moz-transition: 500ms zoom;
    -o-transition: 500ms zoom;
    -ms-transition: 500ms zoom;
/*
    background-color: white;
    background-image: url(signature-watermark.png);
    background-repeat: no-repeat;
*/
/*
    background-image: url(compass.png);
    background-position: 50% -60%;
    background-size: 200px 240px;
*/
}

@media all and (max-width: 750px) {
    body {
        background-color: lightcyan !important;
        zoom: 80%;
    }
}
@media all and (max-width: 640px) {
    body {
        background-color: lightblue !important;
        zoom: 70%;
    }
}
@media all and (max-width: 568px) {
    body {
        background-color: lightgreen !important;
        zoom: 60%;
    }
}
@media all and (max-width: 480px) {
    body {
        background-color: lightyellow !important;
        zoom: 50%;
    }
}
@media all and (max-width: 750px) {
    body {
        background-color: lightpink !important;
        zoom: 40%;
    }
    header, footer {
        padding: 0 10px !important;
    }
    main {
        padding: 100px 10px 28px !important;
    }
}


body::before {
    content: "";
    background-image: url(signature-watermark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 60%;
    opacity: 0.125;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
main, header, footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    border: solid black 10px;
    transition: 500ms height,top,padding;
    -webkit-transition: 500ms height,top,padding;
    -moz-transition: 500ms height,top,padding;
    -o-transition: 500ms height,top,padding;
    -ms-transition: 500ms height,top,padding;
}
header, footer {
    padding: 0 80px 0 100px;
    background-color: black;
    color: white;
}
main {
    top: 0px;
    border-top: none 0px;
    border-bottom: none 0px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    padding: 100px 80px 28px 100px;
    height: 100%;
}
header {
    top: 0px;
    height: 100px;
}
footer {
    position: absolute;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    bottom: 0px;
    border-top: none 0px;
}

menu {
    font-size: 12pt;
    font-weight: normal;
    box-sizing: border-box;
    whitespace: nowrap;
    padding: 0;
    margin: 0;
}
menu>li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 2px 15px;
    box-sizing: border-box;
}
menu>li, menu>li>* { cursor: pointer; }
menu.horizontal-menu {
    text-align: center;
    margin-before: 0px;
    margin-after: 0px;
    padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
}
menu.horizontal-menu>li {
}
menu>li.social-icon-16x16y,
menu>li.social-icon-24x24y,
menu>li.social-icon-32x32y,
menu>li.social-icon-48x48y,
menu>li.social-icon-64x64y {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 0px;
}
menu>li.social-icon-16x16y:action, menu>li.social-icon-16x16y.active,
menu>li.social-icon-24x24y:action, menu>li.social-icon-24x24y.active,
menu>li.social-icon-32x32y:action, menu>li.social-icon-32x32y.active,
menu>li.social-icon-48x48y:action, menu>li.social-icon-48x48y.active,
menu>li.social-icon-64x64y:action, menu>li.social-icon-64x64y.active {
    background-position: 0px 0px;
}
menu>li.social-icon-16x16y {
    width: 16px;
    height: 16px;
    background-image: url(social-iconsheet-18c8r-16x16y.png);
    background-position: 0px -48px;
}
menu>li.social-icon-16x16y:hover { background-position-y: -32px; }
menu>li.social-icon-24x24y {
    width: 24px;
    height: 24px;
    background-image: url(social-iconsheet-18c8r-24x24y.png);
    background-position: 0px -72px;
}
menu>li.social-icon-24x24y:hover { background-position-y: -48px; }
menu>li.social-icon-24x24y.social-icon-twitter { background-position: 0px -72px; }
menu>li.social-icon-24x24y.social-icon-twitter:hover { background-position: 0px -48px; }
menu>li.social-icon-24x24y.social-icon-facebook { background-position: -48px -72px; }
menu>li.social-icon-24x24y.social-icon-facebook:hover { background-position: -48px -48px; }
menu>li.social-icon-24x24y.social-icon-googleplus { background-position: -96px -72px; }
menu>li.social-icon-24x24y.social-icon-googleplus:hover { background-position: -96px -48px; }
menu>li.social-icon-24x24y.social-icon-wordpress { background-position: -408px -72px; }
menu>li.social-icon-24x24y.social-icon-wordpress:hover { background-position: -408px -48px; }

menu>li.social-icon-32x32y {
    width: 32px;
    height: 32px;
    background-image: url(social-iconsheet-18c8r-32x32y.png);
    background-position: 0px -96px;
}
menu>li.social-icon-32x32y:hover {
    background-position-y: -64px;
}
menu>li.social-icon-48x48y {
    width: 48px;
    height: 48px;
    background-image: url(social-iconsheet-18c8r-48x48y.png);
    background-position: 0px -144px;
}
menu>li.social-icon-48x48y:hover {
    background-position-y: -96px;
}
menu>li.social-icon-64x64y {
    width: 64px;
    height: 64px;
    background-image: url(social-iconsheet-18c8r-64x64y.png);
    background-position: 0px -192px;
}
menu>li.social-icon-64x64y:hover {
    background-position-y: -128px;
}

header menu>li:hover, header #header-logo:hover {
    background-color: rgba(240,240,240,0.2);
}

#header-menu {
    font-size: 15pt;
    height: 50px;
    line-height: 50px;
    margin-top: 0px;
}
#header-expanded-container {
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: 500ms height;
    -webkit-transition: 500ms height;
    -moz-transition: 500ms height;
    -o-transition: 500ms height;
    -ms-transition: 500ms height;
}
#header-logo {
    display: inline-block;
    background-image: url(signature-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 72px;
    cursor: pointer;
}
menu#header-expanded-menu {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    right: 0px;
}
menu#header-expanded-menu>li {
    padding: 2px 15px;
}
menu#header-expanded-menu>li:last-child {
    margin: 0 0 0 10px;
}
#header-expanded-menu>li:hover {
    color: #ff77dd;
}

body.expand-header>header {
    height: 172px;
}
body.expand-header>main {
    padding-top: 172px;
}
body.expand-header #header-expanded-container {
    height: 72px;
}

#header-subscribe-container {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    right: 80px;
    bottom: 0px;
}
#header-subscribe-container>* {
    margin-left: 5px;
}
#header-subscribe-container>input {
    width: 110px;
}
#header-subscribe-container>button {
    border: none 0px;
    background-color: inherit;
    color: white;
    cursor: pointer;

}
#header-social-menu {
    display: inline-block;
}

#main-page-gallery,
gallery {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none 0px;
    vertical-align: top;
    transition: 500ms all;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    -ms-transition: 500ms all;
}
strip {
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none 0px;
    vertical-align: top;
    transition: 500ms all;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    -ms-transition: 500ms all;
}
page {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: initial;
    vertical-align: top;
    transition: 500ms all;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    -ms-transition: 500ms all;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(239,239,239,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(239,239,239,0.4); 
}
