<h2>{{title}}</h2>
<p></p>
<div style="float: right; width: 30%;"><div class="box-1-columns"><div class="column-box">{{main-box}}</div></div></div><div style="float: right; width: 70%;">
<div class="box-1-columns">{{#items}}<div class="column-box">{{content}}</div>{{/items}}</div>
</div>